.title {
  margin-top: 3rem;
  overflow: hidden;
}

@keyframes slide_title_in_animation {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.title h1 {
  text-shadow: 5px 0px 5px #000;
  padding: 4px;
  transform: translateY(-100%);
  transform-origin: top;
}

.slide_title_in h1 {
  animation: slide_title_in_animation 1s ease forwards 0.2s;
}

.projects_list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.projects_filter {
  --step: calc(100% / 4);
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
}

.projects_filter .filter_highlighter {
  background-color: #b74141;
  position: absolute;
  width: var(--step);
  height: 100%;
  transition: left 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.filter_highlighter.pos1 {
  left: 0;
}
.filter_highlighter.pos2 {
  left: var(--step);
}
.filter_highlighter.pos3 {
  left: calc(var(--step) * 2);
}
.filter_highlighter.pos4 {
  left: calc(var(--step) * 3);
}

.projects_filter button {
  padding: 2px 12px;
  z-index: 1;
  text-align: center;
}

.projects_grid {
  --projects-min-size: 380px;
  width: 100%;
  padding: 0 12vw;
  gap: 1rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--projects-min-size), max-content)
  );
}

.project {
  --border-radius: 0.75em;
  --project-info-reveal-height: 45px;
  --project-aspect-ratio: var(--projects-min-size) * 0.1;
  --project-image-height: calc(
    var(--projects-min-size) - var(--project-info-reveal-height) -
      var(--project-aspect-ratio)
  );
  width: var(--projects-min-size);
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: var(--border-radius);
  overflow: hidden;
  padding-bottom: var(--project-info-reveal-height);
  box-shadow: 0px 5px 10px #000;
}

.project .project_image {
  object-fit: fill;
  height: var(--project-image-height);
}

.project .project_tags {
  position: absolute;
  top: calc(var(--project-image-height) - 32px);
  left: 8px;
  z-index: 1;
  display: flex;
  gap: 5px;
}

.project_tags .project_tag {
  padding: 2px 6px;
  background-color: #61616199;
  border-radius: 1rem;
  border: 1px solid #333;
  user-select: none;
}

.project .project_info {
  width: 100%;
  height: 100%;
  background: #474c57;
  padding: 10px;
  position: absolute;
  top: calc(100% - var(--project-info-reveal-height));
  z-index: 2;
  transition: top 0.35s ease;
  word-wrap: break-word;
  padding-bottom: var(--project-info-reveal-height);
}

.project:hover .project_info {
  top: 0;
}

.project_links {
  padding: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  opacity: 0;
}

.project:hover .project_links {
  z-index: 1;
  animation: fade_in_links 1s ease forwards;
}

@keyframes fade_in_links {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.project_links .project_link {
  width: 28px;
  height: 28px;
}

.project_link.disabled_link {
  color: #aaa;
}

.project_link:not(.disabled_link) {
  transition: all 0.25s ease;
}

.project_link:not(.disabled_link):hover {
  color: var(--primary-color);
  scale: 1.15;
}

.project_tools {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.project_tools .project_tool {
  --project-tag-color: #eee;
  border: 3px solid var(--project-tag-color);
  color: var(--project-tag-color);
  width: 65px;
  height: 65px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  font-size: 12px;
  user-select: none;
  transition: all 0.35s ease;
}

.project_tools .project_tool:hover {
  --project-tag-color: #1a1a1a;
}
