:root {
  --transition-in: all 2s cubic-bezier(0.19, 1, 0.22, 1);

  --github_activity_panel-padding: 10px;
  --github_activity_panel-border-radius: 1vw;
  --contributions-chart-grid-gap: 12px;
  --contributions-chart-top-padding: 2em;
  --contributions-chart-dates-height: 8px;
  --contributions-chart-days-width: 26px;
  --contributions-chart-tooltip-height: 28px;
}

.profile_blob {
  box-shadow: 0 10px 5px 5px rgba(0, 0, 0, 0.5);
  animation: profile_blob_animation 20s ease-in-out infinite;
  transform: translateX(-100%);
  opacity: 0;
  transition: var(--transition-in);
}

.profile_blob.shown {
  transform: translateX(0%);
  opacity: 1;
}

@keyframes profile_blob_animation {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.about_content {
  color: #eee;
  transform: translateX(50%);
  opacity: 0;
  transition: var(--transition-in);
}
.about_content.show {
  transform: translateX(0%);
  opacity: 1;
}


.about_content h1 {
  color: #fff;
  text-shadow: 5px 5px 5px #000;
}

.about_content span {
  text-shadow: 0px 0px 4px #000;
}

.github_activity_panel {
  position: relative;
  max-width: 100%;
  background-color: var(--secondary-color);
  border-radius: var(--github_activity_panel-border-radius);
  padding: var(--github_activity_panel-padding);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  opacity: 0;
  transform: scale(0);
  transition: var(--transition-in);
}

.github_activity_panel.show {
  opacity: 1;
  animation: .75s pop-in cubic-bezier(.26, .53, .65, 1.5) forwards;
}

@keyframes pop-in {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  .github_activity_panel.show { animation: none; }
}

.github_activity_panel .loading {
  margin: 0px auto;
  width: 100px;
  height: 100px;
  stroke: #ff3a5e;
}

.loading .circular-loader {
  animation: rotate 2s linear infinite;
}

.loading .loader-path {
  fill: none;
  stroke-width: 1.5px;
  animation: animate-stroke 1.5s ease-in-out infinite;
  stroke-linecap: round;
}

.github_activity_panel .stargazers {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #64748b;
  border-radius: 10em;
  user-select: none;
}

.stargazers .repos_dropdown {
  max-height: 100px;
  transform: translateY(-100%);
  opacity: 0;
  height: auto;
  position: absolute;
  overflow: hidden;
  background-color: inherit;
  padding: 2px 10px;
  border-radius: .75em;
  user-select: text;
}

.stargazers .repos_dropdown::-webkit-scrollbar {
  background: transparent;
  width: 6px;
}

.stargazers .repos_dropdown::-webkit-scrollbar-thumb {
  background: #b26d75;
  border-radius: 12px;
}

.stargazers .repos_dropdown::-webkit-scrollbar-track {
  margin: .5em;
}

.stargazers:hover .repos_dropdown {
  transform-origin: bottom;
  width: fit-content;
  overflow-y: scroll;
  animation: repos_dropdown_animation .5s forwards cubic-bezier(0.19, 1, 0.22, 1);
}

@keyframes repos_dropdown_animation {
  from {
    opacity: 0;
    transform: translateY(-100%) scaleY(0);
  }
  to {
    opacity: 1;
    transform: translateY(-100%) scaleY(1);
  }
}

.repos_dropdown .repos {
  height: max-content;
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-content: center;
  align-items: center;
  text-align: center;
  gap: 0px 6px;
}

.repos .repo_name_link {
    display: inline-block;
    position: relative;
}


.repos .repo_name_link:hover {
    color: #fd5a6e;
}

.github_activity_panel .contributions_chart {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  grid-gap: var(--contributions-chart-grid-gap);
  padding-top: calc(
    var(--contributions-chart-tooltip-height) -
      var(--contributions-chart-grid-gap) + 16px -
      var(--contributions-chart-dates-height)
  );
  padding-bottom: 8px;
  padding-right: 8px;
}

.contributions_chart::-webkit-scrollbar {
  background: transparent;
  height: 5px;
  width: 10px;
}

.contributions_chart::-webkit-scrollbar-thumb {
  background: #b26d75;
  border-radius: 12px;
}

.contributions_chart::-webkit-scrollbar-track {
  margin-left: calc(var(--github_activity_panel-padding) + var(--contributions-chart-days-width));
}

.contributions_chart .dates {
  grid-column: 2;
  height: var(--contributions-chart-dates-height);
}

.contributions_chart .days {
  grid-row: 2;
  width: var(--contributions-chart-days-width);
}

.contributions_chart .cells {
  grid-row: 2;
  grid-column: 2;

  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(7, 1fr);
}


.contribution_cell {
  width: min-content;
  height: min-content;
  border-radius: 3px;
}

.contribution_cell.level0 { background-color: #222229; }
.contribution_cell.level1 { background-color: #ff3a5e40; }
.contribution_cell.level2 { background-color: #ff3a5e76; }
.contribution_cell.level3 { background-color: #ff3a5e92; }
.contribution_cell.level4 { background-color: #ff3a5ec8; }
.contribution_cell.level5 { background-color: #ff3a5e; }


.contribution_tooltip {
  position: relative;
  display: inline-block;
}

.contribution_tooltip .tooltip_text {
  visibility: hidden;
  height: var(--contributions-chart-tooltip-height);
  width: max-content;
  display: flex;
  align-items: center;
  padding: 6px;
  background-color: #717d8e;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 200%;
  left: 50%;
}

.contribution_tooltip .tooltip_text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #717171 transparent transparent transparent;
}

.contribution_tooltip:hover .tooltip_text {
  visibility: visible;
}

.contribution_tooltip .tooltip_text.left { transform: translateX(-5%); }
.contribution_tooltip .tooltip_text.left::after { left: 5%; }

.contribution_tooltip .tooltip_text.center { transform: translateX(-50%); }
.contribution_tooltip .tooltip_text.center::after { left: 50%; }

.contribution_tooltip .tooltip_text.right { transform: translateX(-95%); }
.contribution_tooltip .tooltip_text.right::after { left: 95%; }


@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-stroke {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}


.aa {
  width: 500px;
  height: 500px;
}

.email_tooltip {
  position: relative;
  display: inline-block;
}

.email_tooltip .tooltip_text {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 130%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.email_tooltip .tooltip_text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.email_tooltip:hover .tooltip_text {
  visibility: visible;
  opacity: 1;
}