.header {
  display: flex;
  position: sticky;
  left: 0;
  padding: 0 2px;
  justify-content: space-between;
  align-items: center;
}

.stars {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #64748b;
  border-radius: 10em;
  user-select: none;
}

.stars .stars_dropdown {
  display: none;
  max-height: 100px;
  transform: translateY(-100%);
  opacity: 0;
  height: auto;
  position: absolute;
  overflow: hidden;
  background-color: inherit;
  padding: 2px 10px;
  border-radius: 0.75em;
  user-select: text;
}

.stars_dropdown::-webkit-scrollbar {
  background: transparent;
  width: 6px;
}

.stars_dropdown::-webkit-scrollbar-thumb {
  background: #b26d75;
  border-radius: 12px;
}

.stars_dropdown::-webkit-scrollbar-track {
  margin: 0.5em;
}

.stars:hover .stars_dropdown,
.stars:active .stars_dropdown {
  display: flex;
  transform-origin: bottom;
  width: fit-content;
  overflow-y: scroll;
  animation: dropdown_animation 0.5s forwards cubic-bezier(0.19, 1, 0.22, 1);
}

@keyframes dropdown_animation {
  from {
    opacity: 0;
    transform: translateY(-100%) scaleY(0);
  }
  to {
    opacity: 1;
    transform: translateY(-100%) scaleY(1);
  }
}

.stars_dropdown .expanded_stars {
  height: max-content;
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-content: center;
  align-items: center;
  text-align: center;
  gap: 0px 6px;
}

.expanded_stars .star_label_link {
    display: inline-block;
    position: relative;
}

.expanded_stars .star_label_link:hover {
    color: #fd5a6e;
}