@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-fg: #f5f3f5;
  --app-bg: #151515;
  --nav-bg: #0000;
}

@media (prefers-color-scheme: dark) {
}

body {
  color: var(--app-fg);
  background-color: var(--app-bg);
}

nav {
  background-color: var(--nav-bg);
}
