@tailwind base;
@tailwind components;
@tailwind utilities;


@media (prefers-color-scheme: dark) {
}

:root {
  --app-fg: #f5f3f5;
  --app-bg: linear-gradient(#21222a, #000);
  --nav-bg: #1f1f24;
  --primary-color: #f394a0;
  --secondary-color: #0e1117;
}

:root::-webkit-scrollbar {

  background: var(--nav-bg);
  height: 8px;
  width: 8px;
}

:root::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 12px;
}

:root::-webkit-scrollbar-track {
  margin-top: 64px;
}

/* html {
  scroll-behavior: smooth;
} */

body {
  color: var(--app-fg);
  background-image: var(--app-bg);
}

*::selection {
  color: #1c1c1e;
  background: var(--primary-color);
  text-shadow: none;
}