@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-fg: #f5f3f5;
  --app-bg: #24242a;
  --nav-bg: #1f1f24;
  --nav-item-hover-color: #b75353;
}

@media (prefers-color-scheme: dark) {
}

body {
  color: var(--app-fg);
  background-color: var(--app-bg);
}

nav {
  background-color: var(--nav-bg);
}

.nav_content {
  height: 0px;
  transition: height 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.nav_content.nav_opened {
  height: 350px;
}

.nav_item_hover {
  position: relative;
}

.nav_item_hover:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--nav-item-hover-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  border-radius: 25em;
}

.nav_item_hover:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
  height: 3px;
  border-radius: 25em;
}

.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
.line {
  fill: none;
  stroke: white;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.hidden_title::selection {
  color: #1c1c1e;
  background: #f394a0;
  text-shadow: none;
}


.hidden_title {
  opacity: 0;
  filter: blur(10px);
  transform: translateX(-100%);
  transition: all 3s cubic-bezier(0.19, 1, 0.22, 1);
  color: transparent;
}

.hidden_title.show_title {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0%);
}

@media (prefers-reduced-motion) {
  .hidden_title {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: none;
  }
}

.hidden_title:nth-child(1) {
  transition-delay: 1s;
  text-shadow: 
  0px 0px 0px #ff64ed,
  0px 0px 10px #fa6b91;
}
.hidden_title:nth-child(2) {
  transition-delay: 2s;
  text-shadow: 
  0px 0px 0px #53a9ff,
  0px 0px 10px #7671fe;
}
.hidden_title:nth-child(3) {
  transition-delay: 3s;
  text-shadow: 
  0px 0px 0px #ffe554,
  0px 0px 10px #f5d389;
}

.hidden_code_bg {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s ease-in-out;
}

.hidden_code_bg.show_code_bg {
  opacity: 0.35;
  filter: blur(0);
}
